html,
body {
  background-color: aliceblue;
  padding: 5%;
}

.field>.input>input {
  background-color: aliceblue !important;
}

.ui.grid,
.ui.container {
  text-align: center;
  width: 512px
}

#root>.ui.grid>.row {

  justify-content: center;

}

.ui.fluid.button {
  background-color: deepskyblue;
  border-radius: 50px;
}

.center {
  margin: auto;
  width: 35%;
  padding: 2% !important;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 1px 1px 8px 1px #888888;
}
